@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

@font-face {
  font-family: 'True Type Font';
  src:  url('./Assets/Fonts/ARCHIVO-VARIABLEFONT_WDTH\,WGHT.TTF') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'True Type Font';
  src:  url('./Assets/Fonts/ARCHIVO-ITALIC-VARIABLEFONT_WDTH\,WGHT.TTF') format('truetype');
  font-style: italic;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
