.app {
  background: url(https://res.cloudinary.com/dubbcjkfa/image/upload/v1662992370/Lima-Cripto/PORTADA_WEB2X_h3gj16.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mainview {
  margin: 0 6rem;
  background-color: white;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #0078c5;
  color: white;
}

.banner a{
  padding-right: 1.5rem;
}

.banner a:hover {
  color: white;
}

.bannerBtn{
  color: white;
  position: absolute;
  right: 2rem;
  top: 0.8rem;
  cursor: pointer;
}

.banner img {
  width: 8rem;
  position: relative;
  bottom: 5px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10.5rem);
  color: white;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.logoHeader{
  width: 28rem;
  padding: 3rem 2rem 0 2rem; 
}

.title {
  font-size: 11vh;
  line-height: 0.75em;
  font-weight: 900;
  margin: 10px 0;
  letter-spacing: 3px;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 800;
  color: 
  #070706;
  padding-bottom: 1rem;
}

.isotipo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color:  #0078c5;
  margin-bottom: 8px;
}

.primaryButton,
.secondaryButton {
  border-radius: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem;
  padding:1rem;
  width: 22rem;
  font-size: 1.4em;
  letter-spacing: 2.1px;
  line-height: 1rem;
  color: white;
}

.primaryButton:hover,
.secondaryButton:hover {
  color: white;
  transform: scale(1.03);
}

.primaryButton {
  background-color: #0078c5;
  border-bottom: 3px solid #0065A3;
}

.secondaryButton {
  background-color: #fa6300;
  border-bottom: 3px solid #CC5200;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6rem;
  background-color: white;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  width: 90%;
}

.logo {
  width: 10rem;
  padding: 1rem 0;
  position: relative;
  left: 2rem;
}

.tickets:hover{
  transform: scale(1.15);
}

.tickets{
  width: 7rem;
  filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.5));
  background: none;
}

.navbar button:hover,
.navbar button:focus {
  color: #0078c5;
  background: none;
}

.social {
  display: flex;
  align-items: center;
}

.social svg {
  width: 2rem;
  padding: 0.25rem;
  fill: #070706;
}

.social svg:hover {
  fill: #0078c5;
}

/* Home View */

/* Video Section */
.video {
  position: relative;
  height: 35rem;
}

.frame {
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
}

.poster {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/dubbcjkfa/image/upload/v1654099694/Lima-Cripto/lima-cripto-1_uqdbor.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding: 2rem 0;
}

.poster h1 {
  width: 85%;
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  line-height: 0.9em;
  margin: 10px 0;
}

.poster button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 2rem;
}

.poster button svg {
  width: 7rem;
  height: 7rem;
  color: #0078c5;
  background: white;
  border-radius: 100%;
}

.poster button p {
  font-weight: 700;
  margin: 0.5rem;
  color: white;
}

/* All Sections */
.section {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #070706;
}

.section span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.section h1 {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 0.9em;
  margin: 10px 0;
}

.section h2 {
  line-height: 1em;
  font-weight: bold;
  color: #fa6300;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 2rem;
  width: 80%;
}

.section h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.1em;
  line-height: 1.4em;
  color: #070706;
}

.section p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4em;
}

/* About */
.videoBox{
  height: 35rem;
  position: absolute;
  top: 0;
}

.description {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  margin: 1rem 6rem 2rem 6rem;
  font-size: 1.25rem;
  text-align: start;
}

.section .primaryButton {
  margin-bottom: 4rem;
}

/* Metrics */
.metrics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/dubbcjkfa/image/upload/v1662992329/Lima-Cripto/PATRON_gpvye2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

.metrics p {
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
}

.metrics h4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
  text-transform: uppercase;
}

/* Footer */
.bannerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fe9100;
  margin: 0 6rem;
  color: white;
}

.container1{
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: center;
  width: 100%;
  height: 8rem;
}

.container1 h1{
  padding: 1rem;
}

.icon1 {
  width: 15rem;
}

.icon3, .icon2 {
  width: 9.5rem;
}

.container2 {
  background-color: #fe9100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 6rem 4rem 6rem;
  position: relative;
  top: 4rem;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bannerFooter h1 {
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1em;
  padding-top: 2rem;
}

.container2 ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.5px;
}

.container2 li {
  padding: 0.5rem 0;
}

.container2 img {
  width: 3rem;
  height: 3rem;
}

.mainFooter {
  min-height: 10rem;
  padding: 8rem 6rem 4rem 6rem;
  background-color: #070706;
  color: white;
  z-index: 1;
}
.container2Footer {
  display: flex;
  justify-content: space-between;
}

.mainFooter img {
  width: 8rem;
  height: 3rem;
}

.menuFooter {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  justify-content: center;
}

.socialIcon svg {
  width: 2.5rem;
  fill: white;
}

.socialIcon svg:hover{
  fill: #0078c5;
}

.navlink:hover{
  color: #0078c5;
}

/* Agenda */
.link {
  text-decoration: underline;
  cursor: pointer;
  color: #fa6300;
}

.link:hover {
  color: #fa6300;
}
.tabs {
  width: 80%;
}

.panel {
  box-shadow: #0000001c 0 4px 10px 2px;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
  height: 35rem;
  overflow: scroll;
}

.panel h1 {
  color: #0078c5;
  font-size: 2.25rem;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  line-height: 0.8;
}

.panel ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.panel li {
  display: grid;
  grid-template-columns: 4.5rem 1rem 1fr;
  text-align: start;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding: 1rem 0 2rem;
}

.panel h2 {
  color: rgb(102, 102, 102);
  font-size: 1.1rem;
  width: 85px;
}

.panel h3 {
  color: rgb(51, 51, 51);
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 0.05rem;
  font-weight: 900;
}

.panel svg {
  width: 1rem;
  fill: rgb(102, 102, 102);
}

.author {
  color: rgb(102, 102, 102);
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.1rem;
}

/*  Chatbot*/
.chatbot {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 999;
}

.box {
  background: white;
  border-radius: 1rem;
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .primaryButton {
  width: auto;
  font-size: 1rem;
}

.box p {
  text-align: center;
  font-weight: 600;
  line-height: 1rem;
  margin: 0.5rem 0;
}

.box img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fa6300;
  margin-bottom: 8px;
}

/* Contact */
.contact{
  width: 80%;
  margin-bottom: 5rem;
  padding: 1rem 1.5rem;
  box-shadow: #0000001c 0 4px 10px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #0078c5;
}

.contact h1{
  font-size: 1.5rem !important;
  width: 60%;
  margin: 2rem 0 1rem 0;
}

.contact ul {
  list-style: none;
  text-align: left;
  font-weight: 600;
  padding: 0;
}

.contact a{
  color: #0078c5;
  text-decoration: underline;
  font-weight: 700;
}

.contact a:hover{
  color: #0078c5;
}

/* Events */
.bannerEvents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/dubbcjkfa/image/upload/v1662992329/Lima-Cripto/PATRON_gpvye2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 3rem ;
}

.bannerEvents h1, .bannerAllSpeakers h1{
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 0.75em;
  font-weight: 900;
  letter-spacing: 3px;
}

.bannerEvents p, .bannerAllSpeakers p{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.events{
  display: grid;
  grid-template-columns: 1fr 1.5rem 1fr;
  padding: 4rem;
}

.events h3{
  margin: 2rem 0 1rem 0;
  line-height: 0.9em;
  font-weight: 900;
  letter-spacing: 3px;
  color: #0078c5;
}

.events p{
  font-weight: 700;
}

.events img {
  width: 10rem;
}

/* Press */
.press{
  display: flex;
  justify-content: space-between;
  margin: 0 2rem 4rem 2rem;
}

.cardHeader {
min-height: 8rem;
max-height: 10rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

/* Speakers - Home Section */
#speakers .primaryButton{
  margin: 2rem 0 1rem 0;
}

/* Speakers View */
.bannerAllSpeakers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/dubbcjkfa/image/upload/v1662992329/Lima-Cripto/PATRON_gpvye2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 3rem ;
  text-align: center;
}

.speakerList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 190px);
  grid-gap: 1rem;
  padding: 4rem 6rem;
}

/* Sponsors */
#partnerscontainer2{
padding: 2rem 0;
}

#partnerscontainer2 h1{
  font-size: 2.5rem;
}

.partnersBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  width: 90%;
}

.partners img {
  width: 15rem;
  padding: 0.5rem 1rem;
  /* filter: grayscale(100%); */
}

/* Sponsors Categories */
.titleSponsor{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem 2rem 4rem 2rem;
}

.titleSponsor h3{
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}

.titleSponsor img{
  width: 15rem;
  padding-top: 1rem;
}

.sponsors{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0078c5;
  padding: 4rem 0;
}

.secondarySponsor{
  margin: 0 4rem;
  background-color: white;
}

.secondarySponsor h1{
  background-color: #070706;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.secondarySponsor span{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
}

.secondarySponsor span img{
  width: 55%;
  margin: 0 auto;
  padding: 2rem  1rem;
}

#bitcoinSponsors h1, #bitcoinSponsors{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#satoshiSponsors{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#becomeSponsor h2{
  padding-bottom: 1rem;
}

#becomeSponsor .secondaryButton{
  margin-bottom: 4rem;
}

@media (max-width: 1200px) {

  .primaryButton,
  .secondaryButton {
  font-size: 1.15rem;
  width: 20rem;
  }

  .poster h1, .section h1 {
    font-size: 3rem;
  }

  .panel h1 {
    font-size: 2.25rem;
  }

  .partners  img{
    width: 13rem;
  }

  .container2 ul {
    font-size: 1rem;
  }

  .tabBox{
    width: 75%!important;
  }

  .speakerList{
    grid-template-rows: repeat(4, 250px);
  }

}

@media (max-width: 1024px) {

  .primaryButton,
  .secondaryButton {
  font-size: 1rem;
  width: 18rem;
  }

  .logo {
    width: 8rem;
  }

  .partners {
    display: block;
  }

  .metrics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .container2{
    bottom: -4rem;
  }

  .bannerFooter h1{
    font-size: 1.8rem;
  }

  .container2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .poster h1{
    font-size: 2.5rem;
  }

  .poster button svg {
    width: 6rem;
    height: 6rem;
  }

  .tabBox{
    width: 85%!important;
  }

  .description{
    display: block;
    width: 80%;
  }

  .description p{
    padding-top: 2rem;
  }

  .mainFooter{
    padding:  6rem 4rem  2rem 4rem ;
  }

  .press {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .speakerList{
    padding: 4rem 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 180px);
  }

  .secondarySponsor h1{
    font-size: 1.5rem;
  }

  .secondarySponsor span img{
    width: 85%;
  }
}


@media (max-width: 768px) {
  .logoHeader{
    width: 22rem;
  }

  .container1{
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .icon2, .icon3 {
    display: none;
  }

  .nav span{
    display: none;
  }

  .section h1{
    font-size: 2.5rem;
  }

  .section h2{
    font-size: 1.25rem;
    width: 100%;
  }

  .mainview, .navbar, .bannerFooter {
    margin: 0 3rem;
  }

  .poster h1{
    font-size: 2rem;
  }

  .panel{
    padding: 1rem;
  }

  .panel h1{
    font-size: 1.7rem;
  }

  .panel h2 {
    font-size: 1rem;
  }

  .panel h3 {
    font-size: 1.5rem;
  }

  .imageList{
    grid-template-columns: repeat(1, 1fr)!important;
    padding: 0 2rem;
  }

  .container2{
    padding: 0 2rem 3rem 2rem;
  }

  .logoFooter {
    display: none;
  }

  .copyright{
    padding: 1rem 0;
    font-size: 0.7rem;
    text-align: center;
  }

  .mainFooter{
    padding:  6rem 4rem  2rem 4rem ;
  }

  .events{
    display: block;
  }

  .press{
    display: flex;
    flex-direction: column;
  }

  .speakerList{
    padding: 2rem 1rem;
    grid-template-rows: repeat(8, 250px);
  }

  .sponsors{
    padding: 2rem 0;
  }

  .secondarySponsor{
    margin: 0 2rem;}

  .secondarySponsor span{
    padding: 1rem;
  }
  .secondarySponsor span img{
    width: 100%;
  }
}

@media (max-width: 420px) {
  .logoHeader{
    width: 20rem;
  }

  .panel li div {
    width: 13rem;
   }

  .isotipo{
    width: 5rem;
    height: 5rem;
  }

  .title{
    font-size: 3rem;
  }

  .primaryButton,
  .secondaryButton {
  font-size: 1rem;
  width: 80%;
  }

  .mainview, .navbar, .bannerFooter {
    margin: 0 ;
  }

  .poster button {
    padding-top: 1rem;
  }

  .poster button svg {
    width: 4.5rem;
    height: 4.5rem;
  }

  .poster h1{
    font-size: 1.5rem;
  }

  .section h1{
    font-size: 1.7rem;
  }

  .section h2{
    font-size: 1.2rem;
    width: 100%;
  }

  .metrics {
    display: block;
    padding: 2rem 0;
  }

  .partners{
    padding: 0 2rem 4rem 2rem;
  }

  .partners img{
    width: 10rem;
    padding: 1rem 0;
  }

  .container2{
    padding: 0 2rem 2rem 2rem;
  }

  .bannerFooter h1{
    font-size: 1.5rem;
  }

  .imageList{
    width: 100% !important;
  }

  .description p {
    font-size: 1rem;
    margin: 0;
  }

  .mainFooter{
    padding: 6rem 2rem 2rem 2rem;
  }

  .box{
    width: 10rem;
  }

  .box .primaryButton{
    padding: 0.5rem 1rem;
  }

  .contact ul {
    text-align: center;
  }

  .speakerList{
    padding: 2rem;
    grid-template-rows: repeat(8, 200px);
  }

  .speakerList div{
    font-size: 1rem;
  }

}