.app {
  background-image: url(./Assets/Img/iStock-531000658.jpeg);
  background-repeat: no-repeat;
  background-size: 150%;
  /* background-color: #1c284a; */
  height: 150vh;
  overflow: auto;
}

.mainview {
  margin: 0 6rem;
  background-color: white;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #587eeb;
  color: white;
}

.banner img {
  width: 8rem;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.title {
  font-size: 11vh;
  line-height: 0.75em;
  font-weight: 900;
  margin: 10px 0;
  flex: 0 auto;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle {
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.isotipo {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: #263663;
  margin-bottom: 8px;
}

.primaryButton,
.secondaryButton {
  border-radius: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 35%;
  font-size: 1.4em;
  letter-spacing: 2.1px;
  color: white;
}

.primaryButton {
  background-color: #587eeb;
  border-bottom: 3px solid #3665e7;
}

.secondaryButton {
  background-color: #263663;
  border-bottom: 3px solid #1c284a;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6rem;
  background-color: white;
  position: static;
}

.logo {
  width: 10rem;
  padding: 1.5rem 0 0.5rem 0;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.1rem;
  color: #292929;
}

.menu a:hover,
.menu a:focus {
  color: #587eeb;
}

.social {
  display: flex;
  align-items: center;
}

.social svg {
  width: 2rem;
  padding: 0.25rem;
}

/* Home View */

/* Video Section */
.video {
  max-height: calc(100vh - 10.5rem);
}

.frame {
  height: calc(100vh - 10.5rem);
  width: 100%;
  position: relative;
  top: -38rem;
  z-index: 3;
}

.poster {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Assets//Img/lima-cripto-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10.5rem);
  text-align: center;
}

.poster h1 {
  font-size: 3.8em;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  line-height: 0.75em;
  margin: 10px 0;
}

.poster button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 2rem;
}

.poster button svg {
  width: 7rem;
  height: 7rem;
  color: #587eeb;
  background: white;
  border-radius: 100%;
}

.poster button p {
  font-weight: 700;
  margin: 0.5rem;
  color: white;
}

/* All Sections */
.section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #292929;
}

.section h1 {
  font-size: 3.8em;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 0.75em;
  margin: 10px 0;
}

.section h2 {
  line-height: 1.1em;
  font-weight: bold;
  color: #587eeb;
  font-size: 1.9em;
  margin: 1rem 0;
  width: 80%;
}

.section p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* About */
.description {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  margin: 2rem 6rem;
  font-size: 1.25rem;
  text-align: start;
}
